*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

.text-center {
    text-align: center;
}

.main-text {
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form > * {
    margin: 1.5em 0;
}

#form > .search-bar {
    padding: 1em 2em;
    min-width: min(100%, 40rem);
    border: 1px solid #aaa;
    border-radius: 20px;
}

#form > .search-button {
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.35rem;
    background-color: #2F86A6;
    border: 1px solid #2F86A6;
    border-radius: 5px;
}

#form > .search-button:hover {
    background-color: #194657;
    border: 1px solid #194657;
}